{% extends 'core/base.html' %}
{% load static %}
{% block title %}AbielDev | Home{% endblock %}
{% block content %}
	<header id="header">
		<div class="container p-3">
			<div class="row">
				<div class="col-md-6">
					<div class="header-content-left">
						<h1 class="display-4 my-auto text-danger">
							<span style="font-size: 48px">
							<i class="fas fa-laptop-code"></i> 
							</span>Bienvenido 
						</h1>
						<hr>
						<p class="mt-5">
							Este sitio web aparte de ser un hobbie personal, busca también tener alguno de los proyectos que voy desarrollando publicos, seria cool recibir opiniones a ver que les parece y sugerirme ideas para desarrollar.
							Bueno aparte de eso si desean hablar conmigo con respecto al tema u otra cosa seria cool, igual les dejare algunas redes para contactarnos, hablar y tal vez hacer amistad.
							Bueno basicamente es eso, en la parte superior vera un botón para ver alguno de los proyectos que vaya lanzando y también pueden ir a mi <a class="text-danger" href="https://github.com/4bi3l">Github</a> para ver el codigo fuente de los proyectos sin nada mas que decir espero que sea de tu agrado tu estancia por acá <i class="far fa-smile-beam fa-spin"></i>.
						</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="header-content-right">
						<img class="img-fluid img-profile rounded mt-2"  alt="Responsive image" src="{% static 'core/img/code.jpg' %}" style="width: 100%">
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}