{% extends 'core/base.html' %}
{% load static %}
{% block title %}AbielDev | CryptoMonedas{% endblock %}
{% block content %} 

<div class="container"> 
	<div class="row mt-2"> 
		<div class="col-md-6">
			<div class="card my-5 tarjeta">
		  		<div class="card-body titulo-bit">
			    	<h2 class="text-secondary">Precio de cualquier moneda o cryptomoneda en tiempo real.</h2>
			  	</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="d-flex justify-content-center">
						<h6 class="text-center border-right pr-3 ml-1 mr-2"><i class="fas fa-dollar-sign"></i> USD en VES<br class="mb-1"><strong  class="text-danger"><i class="far fa-money-bill-alt mr-1"></i>{{usd_in_ves}}</strong></h6>
						<h6 class="text-center border-right pr-3 ml-1 mr-2"><i class="fab fa-bitcoin"></i> BTC en VES<br class="mb-1"><strong class="text-danger"><i class="far fa-money-bill-alt mr-1"></i>{{btc_in_bs}}</strong></h6>
						<h6 class="text-center border-right pr-3 ml-1 mr-2"><i class="fab fa-bitcoin"></i> BTC en USD<br class="mb-1"><strong class="text-danger"><i class="far fa-money-bill-alt mr-1"></i>{{btc_in_usd}}</strong></h6>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div id="conversor" class="my-5">
				<div class="input-group mb-3">
				  <div class="input-group-prepend">
            <select v-model="from" id="seleccion" class="input-group-text" name="" id="">
              {% verbatim %}
                <option v-for="moneda in monedas" class="btn" type="button">
                	{{moneda}}
                </option>
              {% endverbatim %}
            </select>
				  </div>
				  <input v-model="cantidad" type="number" id="input1" class="form-control" placeholder="Introduce la cantidad a cambiar" aria-label="Text input with dropdown button" @focusout="convertirmoneda" @change="convertirmoneda">
				</div> 
				<div class="input-group">
				  {% verbatim %}<input v-model="calcularResultado" type="text" id="salida" class="form-control" placeholder="El valor del cambio" aria-label="Text input with dropdown button" disabled>{% endverbatim %}
				  
				  <div class="input-group-append">
            <select id="seleccion1" v-model="to" class="input-group-text" name="" id="">
              {% verbatim %}
                <option v-for="moneda in monedas" class="btn" type="button">
                	{{moneda}}
                </option>
              {% endverbatim %}
            </select>
				  </div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="d-flex justify-content-center">
						<img src="{% static 'core/img/icon/svg/001-bitcoin.svg' %}" class="bitcoin-svg mr-3" height="80px" width="80px" alt="bitcoin">
						<img src="{% static 'core/img/icon/svg/003-litecoin.svg' %}" class="litecoin-svg mr-3" height="80px" width="80px" alt="litecoin">
						<img src="{% static 'core/img/icon/svg/004-monero.svg' %}" class="monero-svg mr-3" height="80px" width="80px" alt="monero">
						<img src="{% static 'core/img/icon/svg/005-dash.svg' %}" class="dash-svg mr-3" height="80px" width="80px" alt="dash">
					</div>
					<div class="alert alert-info mt-2 text-center" role="alert">
						El precio de cualquier moneda en tiempo real!
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block terceros %}
<div>Iconos diseñados por <a href="https://www.flaticon.es/autores/dinosoftlabs" class="text-danger" title="DinosoftLabs">DinosoftLabs</a> from <a href="https://www.flaticon.es/" class="text-danger" title="Flaticon">www.flaticon.es</a></div>
{% endblock %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="{% static 'core/js/conversor.js' %}"></script>
<script type="text/javascript">
</script>
{% endblock %}

